.wrapper {
  margin: 0;
  padding: 0;
  padding: 8px 0;
}

.menu-popper {
  position: relative;
  right: -6px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;

  &::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 20px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--while);
    filter: drop-shadow(rgb(0 0 0 / 12%) 0px 2px 12px);
  }
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.menu-icon {
  font-size: 2rem;
  width: 20px;
  text-align: center;
}

.menu-title {
  flex: 1;
  font-weight: 600;
  margin-left: 8px;
}

.header-ctn {
  position: relative;
  height: 50px;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}

.spacer {
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}
